body {
   background-color: lightblue;
   font-size: 13pt;
   padding: 10px;
   margin: 0;
}

#audio {
    background: red;    
    margin: auto;
    display: block;
}

#login {
 text-align: center;   
 margin-top: 300px;
}

h1 span {
   border: 4px dashed #20bcd5;
   padding: 10px;
}


