html {
   font-family: 'Raleway', sans-serif;
}
body {
   background-color: #efefef;
   font-size: 13pt;
   padding: 10px;
   margin: 0;
}
#audio {   
   float: right;
   height: 27px;
   border-radius: 10px;
}
#login {
   float: left;
   margin-bottom: 10px;
}
h3 span {
   border: 4px dashed #20bcd5;
   padding: 10px;
   font-family: 'Lobster';
   color: #20bcd5;
}
h1 {
   background: #666666;
   color: #fff;
   margin: 0;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
}
#contacts img {
   height: 50px;
   width: 50px;
   margin: 0 7px;
}
#contacts {
   text-align: center;
}
#contacts a {
   text-decoration: none;  
}
#contacts img:hover {
   opacity: 0.5;
}
.section {
   background-color: #fff;  
   border-radius: 10px;
   padding: 15px;
}
#Top {
   background: #ca0818;
   border-radius: 10px;
   padding: 15px;
}
#banner {
   margin: auto;
   display: block;
   max-width: 100%;
   height: auto;
}
#footer {
   background: #ca0818;
   text-align: center;
   padding: 10px;
   border-radius: 10px;
   font-size: 10pt;
   margin-top: 15px;
}
#menu-top {
   float: right;
}
#menu-top a {
   color: #20bcd5;
   text-decoration: none;
   font-size: 20px;
}
#menu-top a:hover {
   text-decoration: underline;
}
#main {
   background: #fff;
   padding: 10px;   
   margin: 15px 0;
   border-radius: 10px;
   overflow: auto;
}
#left {
   background: #eeeeee;
   float: left;
   padding: 10px;
   width: 173px;
   border-radius: 10px;
}
#left a {
    color: green;
    text-decoration: none;
    display: block;
}
#left a:hover {
    color: #111111;
}
#body {
   float: right;  
   width: calc(100% - 220px);
}

#cytat {
   text-align: center;
   font-style: italic;
   margin-bottom: 35px;
}

