body {
   background-color: #efefef;
   font-size: 13pt;
   padding: 10px;
   margin: 0;
}

#audio {
    background: red;    
    margin: auto;
    display: block;
}

#login {
 text-align: center;   
 margin: 300px 0;
 }

h1 span {
   border: 4px dashed #add8e8;
   padding: 10px;
   font-family: 'Lobster';
}

h1 {
   font-size: 15pt;
   color: #20bcd5;
   text-align: center;
   padding: 18px 0;
   margin: 0 0 10px 0;
}


