body {
    background: #efefef;
}
.sekcja {
    text-align: center;
    margin: 110px 600px;
    background-color: #fff;
    border-radius: 70px;
    font-size: 13pt;
    font-family: 'Handlee' , cursive;
    padding: 15px;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
h1 {
    color: #20bcd5;
    padding: 18px 0 18px 0;
}
textarea {
    height: 200px;
}
#obrazek {
    height: 20%;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
}
