body {
    background: #efefef;
}
.sekcja {
    text-align: center;
    margin: 110px 600px;
    background-color: #fff;
    border-radius: 70px;
    font-size: 13pt;
    font-family: 'Handlee' , cursive;
    padding: 15px;
}
