body {
    background: #efefef;
}
.sekcja {
    text-align: center;
    margin: 100px 600px;
    background-color: #fff;
    border-radius: 70px;
    font-size: 13pt;
    font-family: 'Amatic SC' , cursive;
    padding: 15px;
}
@media screen and (max-width: 1650px) {
  .sekcja {
          font-size: 11pt;
          margin: 50px 30px 0px 30px;
          min-height: 70%;       
  }
  input, textarea {
          max-width: 500px;  
  }
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
h1 {
    color: #20bcd5;
    padding: 18px 0 18px 0;
}
textarea {
    height: 200px;
}
#obrazek {
    height: 20%;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 0px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-weight: bold;
    width: 50%;
}
