body {
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
.section {
    background-color: #4b4e54;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.section iframe {
    max-width: 100%; 
       
    margin: 10px 0px;
}
.section video {
    max-width: 100%;  
    margin: 10px 0px;
}
h1 {
    font-size: 30pt;
    color: #20bcd5;
    padding: 18px 0 18px 0;     
    margin-top: 50px;    
    margin-bottom: 60px;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;  
}
.xxx {
    float: right;
    margin-right: 2%;
    margin-top: 1%;             
}
.xxx a {
    text-decoration: none; 
    font-size: 19pt;
    color: black;
}
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
}
